@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif !important;
  color: #000 !important;
  background-color: #e9e9e9;
}

img {
  height: auto;
  max-width: 100%;
}

.content-body {
  padding-bottom: 5rem;
}

.card {
  height: auto;
}

.form-error {
  color: #f00;
}

[data-sibebarbg=color_3] .nav-header,
[data-sibebarbg=color_3] .deznav,
[data-sibebarbg=color_3] .sk-three-bounce .sk-child {
  background-color: #1d2327 !important;
}
[data-sibebarbg=color_3] .deznav .metismenu > li > a span {
  color: #fff !important;
}
[data-sibebarbg=color_3] .deznav .metismenu > li.mm-active > a i,
[data-sibebarbg=color_3] .deznav .metismenu > li:hover > a i {
  color: #1d2327 !important;
}

.table,
table,
h1,
h2,
h3,
h4,
h5,
p,
span {
  color: #1d2327;
}

.shadow.btn-primary {
  color: #1d2327;
  background-color: #fff;
  border: 1px solid #c3c4c7 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) !important;
}
.shadow.btn-primary:hover {
  color: #fff;
  background-color: #1d2327;
}

[data-headerbg=color_1] .nav-header .hamburger.is-active .line,
[data-headerbg=color_1] .nav-header .hamburger .line {
  background: #1d2327;
}

[data-sidebar-style=full][data-layout=vertical] .menu-toggle .nav-header .nav-control .hamburger .line {
  background: #1d2327 !important;
}

.card {
  border-radius: 0.5rem;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.card .card-header {
  border-color: #c3c4c7;
}

.btn {
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
}

.btn-default {
  border: 1px solid #c3c4c7;
}

.btn-primary {
  background: #135e96;
  border-color: #135e96;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border: 1px solid #7c7c7c !important;
  border-radius: 0.5rem;
  color: #000;
  font-weight: bold;
}
.form-control:hover, .form-control:focus, .form-control:active {
  color: #000;
  filter: drop-shadow(0 0 2px #135e96);
}

.table thead th {
  border-color: #c3c4c7;
}
.table thead th.action {
  width: 8rem;
}
.table thead th.history {
  width: 18rem;
}
.table tbody tr td {
  border-color: #c3c4c7;
}
.table tbody tr td.history {
  font-size: 0.9em;
}

.form-search {
  margin-left: auto;
}
.form-search .form-control {
  width: 20rem;
  height: 42px;
  margin-right: 0.5rem;
}

.image_preview img {
  margin-bottom: 1rem;
  border: 0.1rem solid;
  padding: 0.2rem;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-switch {
  position: relative;
  top: 50%;
  width: 78px;
  height: 36px;
  overflow: hidden;
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
.btn-switch .knobs:before,
.btn-switch .knobs:after,
.btn-switch .knobs span {
  position: absolute;
  top: 4px;
  width: 34px;
  height: 28px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
  text-align: center;
}

.btn-switch .knobs:before {
  content: "";
  left: 4px;
  background-color: #f44336;
}

.btn-switch .knobs:after {
  content: "HIỆN";
  right: 2px;
  color: #4e4e4e;
}

.btn-switch .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

.btn-switch .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

.btn-switch .checkbox:checked + .knobs:before {
  left: 42px;
  background-color: #03a9f4;
}

.btn-switch .checkbox:checked + .knobs:after {
  color: #fff;
}

.btn-switch .checkbox:checked ~ .layer {
  background-color: #ebf7fc;
}

.brand-logo img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

.pagination-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.pagination-wrap + .card {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}
.pagination-wrap .total {
  font-size: 0.9em;
}
.pagination-wrap .pagination {
  margin-bottom: 0;
}
.pagination-wrap .pagination .page-item:not(.active) :not(:hover).page-link {
  background-color: #fff;
}
.pagination-wrap .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-wrap .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.media_dragandrophandler {
  text-align: center;
  margin-bottom: 20px;
  border: 2px dashed #1779c1;
  padding: 10px;
}
.media_dragandrophandler p {
  margin: 0;
}
.media_dragandrophandler p.help {
  font-size: 1.4em;
  font-weight: bold;
}
.media_dragandrophandler input[type=file] {
  display: none;
}
.media_dragandrophandler input[type=button] {
  background: #1779c1;
  border: none;
  padding: 10px 30px;
  width: 100%;
  color: #fff;
}

.media_preview {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.media_preview .preview {
  width: 90px;
  border: 1px solid #ccc;
  padding: 1px;
  position: relative;
}
.media_preview .preview .upload-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9098039216);
}
.media_preview .preview .action {
  position: absolute;
  top: 0;
  right: 0;
}
.media_preview .preview .action .abort,
.media_preview .preview .action .remove {
  border: none;
  padding: 0;
  background: rgba(255, 255, 255, 0.768627451);
  color: #d31d1d;
  font-size: 20px;
  width: 35px;
  height: 35px;
}

.table-vertical-top tbody tr td {
  vertical-align: top;
}

.line-height-1 {
  line-height: 1;
}

.rating-edit {
  direction: rtl;
}
.rating-edit .fa {
  color: #ccc;
}
.rating-edit label {
  cursor: pointer;
}
.rating-edit input[type=radio] {
  display: none;
}
.rating-edit input[type=radio]:checked ~ label .fa {
  color: #ff9900;
}/*# sourceMappingURL=admin.css.map */